h1{
	text-align: center;
	font-size: 42px;
}
.thumbnails{
	list-style-type: none;
}

.thumbnail h2{
	padding-left: 10px;
	font-weight: bold;
}
.thumbnail p{
	padding-left: 10px;
	font-weight: bold;
}

@media(max-width: 767px){

	.thumbnails {
		padding-left: 0;
	}
}