h1{
	font-weight: bold;
	margin-bottom: 0;
}
p
{
	font-weight: bold;	
}

.glyphDivider{
	margin-top: 0;
}

.text-just{
	text-align: justify;
}

.obj-borders{
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}


.freestyleSocTypo{
		width: 35%;
		height: 35%;
		padding: none;
		margin-top: 20px;
		margin-bottom: 50px;
}


@media(max-width: 767px;){
	.freestyleSocTypo{
	width: 30%;
	height: 30%;
	padding: none;
	margin-top: 20px;
	margin-bottom: 50px;
	}
}

.missionDiv {
	background-color: #00d1d6;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	border-radius: 25px;
}
