.level-section {
	border: solid;
	border-width: 2px;
	border-radius: 25px;
	float: left;
	margin: 5px;
	min-width: 1050px;

}

.level-header-section {
	width: 100px;
	height: 300px;
	float: left;

}

.level-subheading {
	transform: rotate(270deg);
	height: 30px; 					/* After rotaion this is the width */
	width: 300px; 					/* After rotaion this is the height */
	text-align: center;
	margin: 0px;
	position: relative;
	top: 40%;
	left: -130%;
}

.level-number {
	font-size: 60px;
	position: relative;
	text-align: center;
	top: 17%;
	left: 7%;

}


.level-content {
	float: left;
	width: 900px;
}



.dance-class-heading {
	text-align: center;

}
/********
  Level 1 
 ********/ 
#foundation-basics-heading {

}

.fb-moves-list {
	float: left;
	border: solid;
	border-width: 2px;
	width: 200px;
	margin: 8px;
	padding-left: 5px;
	border-radius: 15px 50px 30px 5px;
}

.fb-moves-list > h4 {
	text-align: center;
}

/********
  Level 2
 ********/ 

#foundation-expansion-div {
	padding: 10px;
	padding-top: 20px;
	height: 140px;
}
#foundation-expansion-div > h3 {
	float: left;
	width: 170px;
	border-right: solid;
	border-width: 2px;
	margin-right: 20px;
}
#foundation-expansion-div > img {
	float: left;
	padding-right: 10px;
}

#conditioning-fitness-div {
	padding: 10px;

}

#conditioning-fitness-div > h3 {
	float: left;
	width: 170px;
	border-right: solid;
	border-width: 2px;
	margin-right: 20px;
}

 /********
  Level 3
 ********/ 


 /********
  Level 4
 ********/ 