html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 191px;
}

/*Navbar design*/
.navbar-inverse {
	background-color: #474c46;	
}

#home-navbar {
	border-bottom-width: 1px;

}
.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
	float: none;
	display: inline-block;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	/*font-family: Impact, sans-serif;*/
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 120%;
	padding-right: 10px;
	padding-left: 10px;
 }

 .navbar .nav > li > a {
    float: none;    
	color: #FFFFFF;
}
/*green bar on nav */
.greenNav {
	height: 12px;
	width: 100%;
	background-color: #39fe17;

}


/*  .page-content is for navbar-fixed-top
	prevents the <body> content 
	from getting hidden under the navbar
 */
.page-content {
	padding-top: 80px;
}

/* Dynamic sizing for navbar and image */
#home-navbar {
	width: 100%;
}

#banner-image {
	height: auto;
	width: 100%;
}

/*Footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

