.index-banner {
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
	float: none;
	display: inline-block;
	font-family: Impact, sans-serif;
	font-size: 165%;
 }

 .navbar .nav > li > a {
    float: none;    
	color: #FFFFFF;
}

.greenNav {
	height: 10px;
	width: 100%;
	margin-bottom: -1px;	
	background-color: #00e600;
}


/*  .page-content is for navbar-fixed-top
	prevents the <body> content 
	from getting hidden under the navbar
 */
.page-content {
	padding-top: 80px;
}

#home-navbar {
	position: absolute;
	width: 100%;
	top: 300px;
}

#banner-image {
	position: absolute;
	height: 300px;
}

#home-header {
	padding-bottom: 400px;
}
