
.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
	float: none;
	display: inline-block;
	font-family: Impact, sans-serif;
	font-size: 165%;
 }

 .navbar .nav > li > a {
    float: none;    
	color: #FFFFFF;
}

.greenNav {
	height: 10px;
	width: 100%;
	background-color: #00e600;
}


/*  .page-content is for navbar-fixed-top
	prevents the <body> content 
	from getting hidden under the navbar
 */
.page-content {
	padding-top: 80px;
}

/* Dynamic sizing for navbar and image */
#home-navbar {
	width: 100%;
}

#banner-image {
	height: auto;
	width: 100%;
}
