---
title: The Movement 2019
permalink: /TheMovement/
description: 
---
<div class="text-light" style="background-color: black">
  <img class="mx-auto event-logo" src="/images/the-movement-ig.png" alt="The Movement 2019">
  <div class="px-2 pb-5">
    <div class="card mb-3 mx-auto event-details bg-dark">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h2>Saturday June 15, 2019</h2>
            <p class="">6:00 PM - 8:30 PM</p>
            <p>Join us as we celebrate Edmonton's Hiphop community dancers.
              We are bringing together universities, high schools, dance groups and crews to
              showcase their talent and hard work.</p><p>Ticket proceeds will help Freestyle Movement build up the community
              by hosting workhops, events and providing a space for dancers to practice.</p>
            <a class="btn btn-primary" href="https://themovement2019.eventbrite.ca">Purchase Tickets</a>
          </div>
        </div>
        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9488.145887198152!2d-113.4689427!3d53.5214055!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x303e87f5709c88e2!2sCampus+Saint-Jean!5e0!3m2!1sen!2sca!4v1551043124599" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-center">Performers</h2>
      <div class="performers mx-auto">
        <ul class="list-group">
          {% for performer in site.data.performers %}
            <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
              {{performer.name}}
              {% if performer.instagram %}
              <a href="https://www.instagram.com/{{performer.instagram}}/">
                  <img class="social-media d-block" src="/images/icons/instagram.svg" alt="{{performer.name}}'s instagram account">
              </a>
              {% endif %}
              <!-- <span class="badge badge-primary badge-pill">{{performer.group-size}}</span> -->
            </li>
          {% endfor %}
          </ul>

      </div>
    </div>
  </div>

</div>


