<footer>
  <section id="contact">
    <div >
      <div class="text-center">
        <a class="mr-3" href="https://www.facebook.com/freestylemovement.ca"><i class="fab fa-facebook-f fa-3x"></i></a>
        <a class="mx-3" href="https://www.instagram.com/freestyle.movement"><i class="fab fa-instagram fa-3x"></i></a>
        <a class="ml-3" href="https://www.youtube.com/channel/UCKZV387VdbszAIyhbCd_JnA"><i class="fab fa-youtube fa-3x"></i></a>
      </div>
    </div>
  </section>
</footer>

<script src="/js/navbar.js"></script>
