<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <button class="navbar-toggler"
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
    <img src="/images/icons/bars-solid.svg" alt="Toggle Menu">
  </button>
  
  <a class="navbar-brand mx-auto d-flex justify-content-center align-items-center" href="/">
    <img src="/images/logo.png" alt="Freestyle Movement Logo">
    <span>Freestyle Movement</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      {% for item in site.data.nav.pages %}
        <a class="nav-item nav-link" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}

      <div class="navbar-social d-flex align-items-center">
          {% for item in site.data.nav.social-media %}
          <a class="nav-item" href="{{item.url}}"><img src="{{ item.icon }}" alt="{{ item.alt }}"></a>
          {% endfor %}
        </div>
    </div>
  </div>

</nav>