.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

header#landing { 
  height: 500px;
  background-image: url('/images/home-header.jpg');
}

.bg-light-gray { background-color: #64646480; }

.team-list * { box-sizing: border-box; }
.team-list .team-member .name { 
  font-weight: bold; 
  vertical-align: text-top;
}
.team-list .team-member .roles { width: 45%; }