$site-width-max: 1100px;

body {
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    margin: 0 auto;
    width: 100%;
    max-width: $site-width-max;
    display: flex;
    vertical-align: middle;
}