// Site
$site-width-max: 1100px;
// Nav
$nav-height: 60px;
$nav-bg-color: #eee;
$nav-item-color: #222;

* { box-sizing: border-box; }
html, body { 
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
}

.splash {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.splash-content {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
}

.max-width { max-width: $site-width-max; }

footer { 
  height: 6em;
}