// Site
$site-width-max: 1100px;
$screen-break-point: 762px;

// Nav
$nav-height: 60px;
$nav-bg-color: #eee;
$nav-item-color: #222;

#practice{
    background-image: url(../images/practice-header.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 10rem;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: $nav-height;
}
.flex-container {
    margin: 0 auto;
    width: 100%;
    max-width: $site-width-max;
    display: flex;
    vertical-align: middle;
}