.hero.hero-bg-img {
  position: relative;
  height: 500px;

  background-image: url("/imgs/home-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  color: #fff;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;

}

.hero > .hero-content > * {
  background-color: #21252999;
  border-radius: 6px;
}


.slim-width {
  max-width: 750px;
}