{{ partial "google-analytics.html" . }}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Page.Params.description }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<meta name="google-site-verification" content="WYeZs0gu8iEOBd-Ez6pyfCsD8gFgq9NG8wjd4KaXGyE" />
<title>
  {{ .Page.Params.title }} 
</title>

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Site Master CSS -->
{{ $cssLink := (resources.Get "css/site.scss" | resources.ToCSS | resources.Minify).RelPermalink }}
<link href="{{ $cssLink }}" rel="stylesheet" >

<!-- Favicons -->
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/favicon.ico" rel="icon" type="image/x-icon">

