<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Freestyle Movement</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#site-main-nav"
      aria-controls="site-main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="site-main-nav">
      <div class="navbar-nav">
        {{ range .Site.Pages }}
        <a class="nav-item nav-link" href="{{ .RelPermalink }}">
          {{ .Params.menu_title }}
        </a>
        {{ end }}
      </div>

      <div class="me-md-2 ms-auto text-center">
        <a class="btn btn-dark rounded-circle fs-5" href="{{ .Site.Params.instagram }}"><i class="bi bi-instagram"></i></a>
        <a class="btn btn-dark rounded-circle fs-5" href="{{ .Site.Params.facebook }}"><i class="bi bi-facebook"></i></a>
        <a class="btn btn-dark rounded-circle fs-5" href="{{ .Site.Params.youtube }}"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
</nav>
