.event-logo {
  display: block;
  width: 100%;
  max-width: 700px;
}

.event-details { max-width: 700px; }
.performers { max-width: 500px; }

.performers .social-media {
  width: 22px;
  height: auto;
}